In [1]:
import polars as pl
import numpy as np

In [2]:
calendar = pl.read_csv("data/calendar.csv")
calendar

shape: (826, 3)
┌────────────┬──────┬─────────┐
│ date       ┆ week ┆ part    │
│ ---        ┆ ---  ┆ ---     │
│ str        ┆ i64  ┆ str     │
╞════════════╪══════╪═════════╡
│ 2022-07-25 ┆ 0    ┆ train   │
│ 2022-07-26 ┆ 0    ┆ train   │
│ 2022-07-27 ┆ 0    ┆ train   │
│ 2022-07-28 ┆ 0    ┆ train   │
│ 2022-07-29 ┆ 0    ┆ train   │
│ …          ┆ …    ┆ …       │
│ 2024-10-23 ┆ 117  ┆ private │
│ 2024-10-24 ┆ 117  ┆ private │
│ 2024-10-25 ┆ 117  ┆ private │
│ 2024-10-26 ┆ 117  ┆ private │
│ 2024-10-27 ┆ 117  ┆ private │
└────────────┴──────┴─────────┘

In [3]:
profiles = pl.read_parquet("data/profiles.parquet")#["diff_datopen_report_date_flg"].unique()
profiles

shape: (32_219_186, 6)
┌────────────┬─────────────┬──────┬───────────┬──────────────────┬──────────────────────────────┐
│ inn_id     ┆ report_date ┆ ipul ┆ id_region ┆ main_okved_group ┆ diff_datopen_report_date_flg │
│ ---        ┆ ---         ┆ ---  ┆ ---       ┆ ---              ┆ ---                          │
│ str        ┆ str         ┆ str  ┆ str       ┆ str              ┆ str                          │
╞════════════╪═════════════╪══════╪═══════════╪══════════════════╪══════════════════════════════╡
│ inn10      ┆ 2023-10-01  ┆ ip   ┆ 45        ┆ 47               ┆ 3_6m                         │
│ inn100     ┆ 2023-10-01  ┆ ul   ┆ 80        ┆ 86               ┆ more_12y                     │
│ inn1000006 ┆ 2023-10-01  ┆ ip   ┆ 86        ┆ 49               ┆ more_12y                     │
│ inn1000007 ┆ 2023-10-01  ┆ ul   ┆ 46        ┆ 46               ┆ 4_8y                         │
│ inn1000008 ┆ 2023-10-01  ┆ ip   ┆ null      ┆ null             ┆ NULL                         │
│ …          ┆ …           ┆ …    ┆ …         ┆ …                ┆ …                            │
│ inn99999   ┆ 2024-08-01  ┆ ip   ┆ 57        ┆ 75               ┆ 2_4y                         │
│ inn999991  ┆ 2024-08-01  ┆ ip   ┆ 80        ┆ 74               ┆ 1_2y                         │
│ inn999994  ┆ 2024-08-01  ┆ ul   ┆ 45        ┆ 41               ┆ 2_4y                         │
│ inn999997  ┆ 2024-08-01  ┆ ip   ┆ 46        ┆ 85               ┆ 2_4y                         │
│ inn999999  ┆ 2024-08-01  ┆ ip   ┆ 98        ┆ 93               ┆ 1_2y                         │
└────────────┴─────────────┴──────┴───────────┴──────────────────┴──────────────────────────────┘

In [4]:
age={
    "1m":1,
    "2_3m":3,
    "3_6m":6,
    "6_12m":12,
    "1_2y":24,
    "2_4y":48,
    "4_8y":96,
    "8_12y":144,
    "more_12y":192,
    #"NULL":np.nan
}    
profiles.with_columns(
    pl.col("diff_datopen_report_date_flg").replace(age, default=np.NAN)
)

/tmp/ipykernel_61483/1979921702.py:14: DeprecationWarning: The `default` parameter for `replace` is deprecated. Use `replace_strict` instead to set a default while replacing values.
  pl.col("diff_datopen_report_date_flg").replace(age, default=np.NAN)

shape: (32_219_186, 6)
┌────────────┬─────────────┬──────┬───────────┬──────────────────┬──────────────────────────────┐
│ inn_id     ┆ report_date ┆ ipul ┆ id_region ┆ main_okved_group ┆ diff_datopen_report_date_flg │
│ ---        ┆ ---         ┆ ---  ┆ ---       ┆ ---              ┆ ---                          │
│ str        ┆ str         ┆ str  ┆ str       ┆ str              ┆ f64                          │
╞════════════╪═════════════╪══════╪═══════════╪══════════════════╪══════════════════════════════╡
│ inn10      ┆ 2023-10-01  ┆ ip   ┆ 45        ┆ 47               ┆ 6.0                          │
│ inn100     ┆ 2023-10-01  ┆ ul   ┆ 80        ┆ 86               ┆ 192.0                        │
│ inn1000006 ┆ 2023-10-01  ┆ ip   ┆ 86        ┆ 49               ┆ 192.0                        │
│ inn1000007 ┆ 2023-10-01  ┆ ul   ┆ 46        ┆ 46               ┆ 96.0                         │
│ inn1000008 ┆ 2023-10-01  ┆ ip   ┆ null      ┆ null             ┆ NaN                          │
│ …          ┆ …           ┆ …    ┆ …         ┆ …                ┆ …                            │
│ inn99999   ┆ 2024-08-01  ┆ ip   ┆ 57        ┆ 75               ┆ 48.0                         │
│ inn999991  ┆ 2024-08-01  ┆ ip   ┆ 80        ┆ 74               ┆ 24.0                         │
│ inn999994  ┆ 2024-08-01  ┆ ul   ┆ 45        ┆ 41               ┆ 48.0                         │
│ inn999997  ┆ 2024-08-01  ┆ ip   ┆ 46        ┆ 85               ┆ 48.0                         │
│ inn999999  ┆ 2024-08-01  ┆ ip   ┆ 98        ┆ 93               ┆ 24.0                         │
└────────────┴─────────────┴──────┴───────────┴──────────────────┴──────────────────────────────┘

In [5]:
import datetime  

workdays={}
d1 = datetime.date(2022, 1, 1)
while d1<datetime.date(2025, 1, 1):
    #print(d1)
    #workdays.append([d1,0 if d1.weekday() in [5,6] else 1 ] )
    workdays[d1] = 0 if d1.weekday() in [5,6] else 1
    
    d1=d1+datetime.timedelta(1) 
workdays[datetime.date(2022, 1, 3)] = 0
workdays[datetime.date(2022, 1, 4)] = 0
workdays[datetime.date(2022, 1, 5)] = 0
workdays[datetime.date(2022, 1, 6)] = 0
workdays[datetime.date(2022, 1, 7)] = 0

workdays[datetime.date(2022, 2, 23)] = 0

workdays[datetime.date(2022, 3, 5)] = 1
workdays[datetime.date(2022, 3, 7)] = 0
workdays[datetime.date(2022, 3, 8)] = 0

workdays[datetime.date(2022, 5, 2)] = 0
workdays[datetime.date(2022, 5, 3)] = 0
workdays[datetime.date(2022, 5, 9)] = 0
workdays[datetime.date(2022, 5, 10)] = 0

workdays[datetime.date(2022, 6, 13)] = 0

workdays[datetime.date(2022, 11, 4)] = 0
########################################## 2023
workdays[datetime.date(2023, 1, 2)] = 0
workdays[datetime.date(2023, 1, 3)] = 0
workdays[datetime.date(2023, 1, 4)] = 0
workdays[datetime.date(2023, 1, 5)] = 0
workdays[datetime.date(2023, 1, 6)] = 0

workdays[datetime.date(2023, 2, 23)] = 0
workdays[datetime.date(2023, 2, 24)] = 0

workdays[datetime.date(2023, 3, 8)] = 0

workdays[datetime.date(2023, 5, 1)] = 0
workdays[datetime.date(2023, 5, 8)] = 0
workdays[datetime.date(2023, 5, 9)] = 0

workdays[datetime.date(2023, 6, 12)] = 0

workdays[datetime.date(2023, 11, 6)] = 0
########################################## 2024
workdays[datetime.date(2024, 1, 1)] = 0
workdays[datetime.date(2024, 1, 2)] = 0
workdays[datetime.date(2024, 1, 3)] = 0
workdays[datetime.date(2024, 1, 6)] = 0
workdays[datetime.date(2024, 1, 7)] = 0
workdays[datetime.date(2024, 1, 8)] = 0

workdays[datetime.date(2024, 5, 1)] = 0
workdays[datetime.date(2024, 5, 2)] = 0
workdays[datetime.date(2024, 5, 8)] = 0
workdays[datetime.date(2024, 5, 9)] = 0

workdays[datetime.date(2024, 6, 12)] = 0
workdays[datetime.date(2024, 6, 13)] = 0

workdays[datetime.date(2024, 11, 1)] = 1
workdays[datetime.date(2024, 11, 3)] = 0
workdays[datetime.date(2024, 11, 4)] = 0

workdays[datetime.date(2024, 12, 31)] = 0

workdays

calendar = pl.read_csv("data/calendar.csv", try_parse_dates=True)
calendar.with_columns(
                      (pl.col("date")+datetime.timedelta(-5)).replace(workdays).cast(pl.Int8).alias("work_5"), 
                      (pl.col("date")+datetime.timedelta(-4)).replace(workdays).cast(pl.Int8).alias("work_4"), 
                      (pl.col("date")+datetime.timedelta(-3)).replace(workdays).cast(pl.Int8).alias("work_3"), 
                      (pl.col("date")+datetime.timedelta(-2)).replace(workdays).cast(pl.Int8).alias("work_2"), 
                      (pl.col("date")+datetime.timedelta(-1)).replace(workdays).cast(pl.Int8).alias("work_1"), 
                      pl.col("date").replace(workdays).cast(pl.Int8).alias("work"),
                      (pl.col("date")+datetime.timedelta(1)).replace(workdays).cast(pl.Int8).alias("work1"), 
                      (pl.col("date")+datetime.timedelta(2)).replace(workdays).cast(pl.Int8).alias("work2"), 
                      (pl.col("date")+datetime.timedelta(3)).replace(workdays).cast(pl.Int8).alias("work3"), 
                      (pl.col("date")+datetime.timedelta(4)).replace(workdays).cast(pl.Int8).alias("work4"), 
                      (pl.col("date")+datetime.timedelta(5)).replace(workdays).cast(pl.Int8).alias("work5"), 
                     ).with_columns( 
                      (pl.col("work1")+pl.col("work2")+pl.col("work3")+pl.col("work4")+pl.col("work5")).alias("w5_after"), 
                      (pl.col("work1")+pl.col("work2")+pl.col("work3")+pl.col("work4")).alias("w4_after"), 
                      (pl.col("work1")+pl.col("work2")+pl.col("work3")).alias("w3_after"), 
                      (pl.col("work1")+pl.col("work2")).alias("w2_after"), 
                      (pl.col("work_1")+pl.col("work_2")).alias("w2_before"), 
                      (pl.col("work_1")+pl.col("work_2")+pl.col("work_3")).alias("w3_before"), 
                      (pl.col("work_1")+pl.col("work_2")+pl.col("work_3")+pl.col("work_4")).alias("w4_before"), 
                      (pl.col("work_1")+pl.col("work_2")+pl.col("work_3")+pl.col("work_4")+pl.col("work_5")).alias("w5_before"), 
                     )

shape: (826, 22)
┌────────────┬──────┬─────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ date       ┆ week ┆ part    ┆ work_5 ┆ … ┆ w2_before ┆ w3_before ┆ w4_before ┆ w5_before │
│ ---        ┆ ---  ┆ ---     ┆ ---    ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ date       ┆ i64  ┆ str     ┆ i8     ┆   ┆ i8        ┆ i8        ┆ i8        ┆ i8        │
╞════════════╪══════╪═════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2022-07-25 ┆ 0    ┆ train   ┆ 1      ┆ … ┆ 0         ┆ 1         ┆ 2         ┆ 3         │
│ 2022-07-26 ┆ 0    ┆ train   ┆ 1      ┆ … ┆ 1         ┆ 1         ┆ 2         ┆ 3         │
│ 2022-07-27 ┆ 0    ┆ train   ┆ 1      ┆ … ┆ 2         ┆ 2         ┆ 2         ┆ 3         │
│ 2022-07-28 ┆ 0    ┆ train   ┆ 0      ┆ … ┆ 2         ┆ 3         ┆ 3         ┆ 3         │
│ 2022-07-29 ┆ 0    ┆ train   ┆ 0      ┆ … ┆ 2         ┆ 3         ┆ 4         ┆ 4         │
│ …          ┆ …    ┆ …       ┆ …      ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 2024-10-23 ┆ 117  ┆ private ┆ 1      ┆ … ┆ 2         ┆ 2         ┆ 2         ┆ 3         │
│ 2024-10-24 ┆ 117  ┆ private ┆ 0      ┆ … ┆ 2         ┆ 3         ┆ 3         ┆ 3         │
│ 2024-10-25 ┆ 117  ┆ private ┆ 0      ┆ … ┆ 2         ┆ 3         ┆ 4         ┆ 4         │
│ 2024-10-26 ┆ 117  ┆ private ┆ 1      ┆ … ┆ 2         ┆ 3         ┆ 4         ┆ 5         │
│ 2024-10-27 ┆ 117  ┆ private ┆ 1      ┆ … ┆ 1         ┆ 2         ┆ 3         ┆ 4         │
└────────────┴──────┴─────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [6]:
inns = pl.read_csv("data/sample_submit.csv"
           )["inn_id"].unique()
inns

shape: (51_963,)
Series: 'inn_id' [str]
[
	"inn186997"
	"inn3451034"
	"inn4866695"
	"inn4838825"
	"inn2336565"
	…
	"inn3628496"
	"inn4693682"
	"inn4008153"
	"inn4625635"
	"inn416014"
]

In [7]:
calendar = pl.read_csv("data/calendar.csv",try_parse_dates=True)
calendar

shape: (826, 3)
┌────────────┬──────┬─────────┐
│ date       ┆ week ┆ part    │
│ ---        ┆ ---  ┆ ---     │
│ date       ┆ i64  ┆ str     │
╞════════════╪══════╪═════════╡
│ 2022-07-25 ┆ 0    ┆ train   │
│ 2022-07-26 ┆ 0    ┆ train   │
│ 2022-07-27 ┆ 0    ┆ train   │
│ 2022-07-28 ┆ 0    ┆ train   │
│ 2022-07-29 ┆ 0    ┆ train   │
│ …          ┆ …    ┆ …       │
│ 2024-10-23 ┆ 117  ┆ private │
│ 2024-10-24 ┆ 117  ┆ private │
│ 2024-10-25 ┆ 117  ┆ private │
│ 2024-10-26 ┆ 117  ┆ private │
│ 2024-10-27 ┆ 117  ┆ private │
└────────────┴──────┴─────────┘

In [8]:
inndate = pl.read_csv("data/sample_submit.csv"
           ).select("inn_id"
                   ).unique("inn_id"
                           ).join(calendar.select("date","week"), how="cross")
inndate

shape: (42_921_438, 3)
┌────────────┬────────────┬──────┐
│ inn_id     ┆ date       ┆ week │
│ ---        ┆ ---        ┆ ---  │
│ str        ┆ date       ┆ i64  │
╞════════════╪════════════╪══════╡
│ inn2063424 ┆ 2022-07-25 ┆ 0    │
│ inn2063424 ┆ 2022-07-26 ┆ 0    │
│ inn2063424 ┆ 2022-07-27 ┆ 0    │
│ inn2063424 ┆ 2022-07-28 ┆ 0    │
│ inn2063424 ┆ 2022-07-29 ┆ 0    │
│ …          ┆ …          ┆ …    │
│ inn1214848 ┆ 2024-10-23 ┆ 117  │
│ inn1214848 ┆ 2024-10-24 ┆ 117  │
│ inn1214848 ┆ 2024-10-25 ┆ 117  │
│ inn1214848 ┆ 2024-10-26 ┆ 117  │
│ inn1214848 ┆ 2024-10-27 ┆ 117  │
└────────────┴────────────┴──────┘

In [9]:
%time
#приходы в ВТБ
in_vtb=pl.scan_parquet("data/transactions_?.parquet"
               ).filter(pl.col("doc_payee_inn").is_in(inns)
               ).filter(pl.col("doc_payee_bank_name_flag")==1
                      ).with_columns(pl.col("date").dt.date()
                             #).join(pl.scan_csv("data/calendar.csv", try_parse_dates=True
                             #                  ).drop("part"
                             #                        ).with_columns(pl.col("week").cast(pl.Int8)),
                             #       on="date",
                             #       how="left"
                                   ).group_by("doc_payee_inn","date"
                                             ).agg(#pl.col("trns_count").sum(),
                                                   pl.col("trns_amount").sum().cast(pl.Float32),
                                                   #pl.col("date").n_unique(),
                                                   #pl.col("trns_class_encoded").n_unique(),
                                                   #pl.col("doc_payee_bank_name_encoded").n_unique(),
                                            #).with_columns(
                                            #    pl.col("trns_count").cast(pl.Int16),
                                                #pl.col("trns_amount").cast(pl.Float64),
                                            #    np.log1p(pl.col("trns_amount")).alias("trns_amount_log"),                                                   
                                                  ).rename(lambda column_name: ("" if column_name in ["doc_payee_inn","week"] else "in_vtb_") + column_name
                                                          ).collect()
in_vtb

CPU times: user 3 μs, sys: 1e+03 ns, total: 4 μs
Wall time: 8.58 μs

shape: (18_326_401, 3)
┌───────────────┬─────────────┬────────────────────┐
│ doc_payee_inn ┆ in_vtb_date ┆ in_vtb_trns_amount │
│ ---           ┆ ---         ┆ ---                │
│ str           ┆ date        ┆ f32                │
╞═══════════════╪═════════════╪════════════════════╡
│ inn40964      ┆ 2024-07-08  ┆ 1.0879e6           │
│ inn285044     ┆ 2024-07-29  ┆ 454.797119         │
│ inn2063975    ┆ 2024-08-02  ┆ 34486.761719       │
│ inn2402479    ┆ 2024-08-03  ┆ 39595.4375         │
│ inn4245369    ┆ 2023-01-13  ┆ 2.9869e6           │
│ …             ┆ …           ┆ …                  │
│ inn4073374    ┆ 2024-02-08  ┆ 412632.5625        │
│ inn2515881    ┆ 2023-05-15  ┆ 355791.9375        │
│ inn1245521    ┆ 2023-02-20  ┆ 743714.875         │
│ inn219472     ┆ 2022-11-25  ┆ 25603.949219       │
│ inn3980253    ┆ 2024-02-05  ┆ 999584.4375        │
└───────────────┴─────────────┴────────────────────┘

In [10]:
%%time
#расходы из ВТБ
out_vtb=pl.scan_parquet("data/transactions_?.parquet"
               ).filter(pl.col("doc_payer_inn").is_in(inns)
               ).filter(pl.col("doc_payer_bank_name_flag")==1
                      ).with_columns(pl.col("date").dt.date()
                             #).join(pl.scan_csv("data/calendar.csv", try_parse_dates=True
                             #                  ).drop("part"
                             #                        ).with_columns(pl.col("week").cast(pl.Int8)),
                             #       on="date",
                             #       how="left"
                                   ).group_by("doc_payer_inn","date"
                                             ).agg(#pl.col("trns_count").sum(),
                                                   pl.col("trns_amount").sum().cast(pl.Float32),
                                                   #pl.col("date").n_unique(),
                                                   #pl.col("trns_class_encoded").n_unique(),
                                                   #pl.col("doc_payer_bank_name_encoded").n_unique(),
                                            #).with_columns(                              
                                            #    np.log1p(pl.col("trns_amount")).alias("trns_amount_log"),
                                                    ).rename(lambda column_name: ("" if column_name in ["doc_payer_inn","week"] else "out_vtb_") + column_name
                                                          ).collect()
out_vtb

CPU times: user 37.6 s, sys: 11.5 s, total: 49.2 s
Wall time: 16 s

shape: (17_662_562, 3)
┌───────────────┬──────────────┬─────────────────────┐
│ doc_payer_inn ┆ out_vtb_date ┆ out_vtb_trns_amount │
│ ---           ┆ ---          ┆ ---                 │
│ str           ┆ date         ┆ f32                 │
╞═══════════════╪══════════════╪═════════════════════╡
│ inn3587742    ┆ 2023-01-16   ┆ 144508.390625       │
│ inn5174557    ┆ 2023-03-06   ┆ 153952.265625       │
│ inn888295     ┆ 2023-07-29   ┆ 16503.714844        │
│ inn5059269    ┆ 2023-06-14   ┆ 2.2060e6            │
│ inn4629435    ┆ 2023-06-19   ┆ 1.953266e6          │
│ …             ┆ …            ┆ …                   │
│ inn1745389    ┆ 2024-07-31   ┆ 10924.647461        │
│ inn2828025    ┆ 2023-01-22   ┆ 184347.859375       │
│ inn88495      ┆ 2022-10-21   ┆ 776908.25           │
│ inn2580051    ┆ 2022-12-21   ┆ 4548.464844         │
│ inn4744009    ┆ 2023-09-19   ┆ 34572.65625         │
└───────────────┴──────────────┴─────────────────────┘

In [11]:
%%time
inndatedk=inndate.join(in_vtb,
             left_on=["inn_id","date"],
             right_on=["doc_payee_inn","in_vtb_date"],
             how="left"
            ).join(out_vtb,
             left_on=["inn_id","date"],
             right_on=["doc_payer_inn","out_vtb_date"],
             how="left"
            ).fill_null(0
            ).with_columns(
                           (pl.col("in_vtb_trns_amount")-pl.col("out_vtb_trns_amount")).alias("dkrez"),
                           pl.col("week").cast(pl.Int8) 
            ).with_columns(
                           pl.col("dkrez").cum_sum().over("inn_id").alias("cumsum"),
            ).with_columns(                           
                           pl.col("cumsum").cum_min().over("inn_id").alias("cummin"),
            ).with_columns(                           
                                           (pl.when(pl.col("cummin")>0
                                                   ).then(pl.lit(0)
                                                         ).otherwise(pl.col("cummin"))
                                           ).alias("cummin"),
            ).with_columns(                           
                           (pl.col("cumsum")-pl.col("cummin")).alias("cumsum"),
            ).sort("inn_id","date"
            ).with_columns(                           
                           pl.col("cumsum").shift(1).over("inn_id").alias("cumsum"),
                  ).fill_null(0)

inndatedk

CPU times: user 58 s, sys: 11.2 s, total: 1min 9s
Wall time: 24 s

shape: (42_921_438, 8)
┌────────────┬────────────┬──────┬─────────────┬────────────┬────────────┬────────────┬────────────┐
│ inn_id     ┆ date       ┆ week ┆ in_vtb_trns ┆ out_vtb_tr ┆ dkrez      ┆ cumsum     ┆ cummin     │
│ ---        ┆ ---        ┆ ---  ┆ _amount     ┆ ns_amount  ┆ ---        ┆ ---        ┆ ---        │
│ str        ┆ date       ┆ i8   ┆ ---         ┆ ---        ┆ f32        ┆ f32        ┆ f32        │
│            ┆            ┆      ┆ f32         ┆ f32        ┆            ┆            ┆            │
╞════════════╪════════════╪══════╪═════════════╪════════════╪════════════╪════════════╪════════════╡
│ inn1000051 ┆ 2022-07-25 ┆ 0    ┆ 16515.07617 ┆ 380510.625 ┆ -363995.56 ┆ 0.0        ┆ -363995.56 │
│            ┆            ┆      ┆ 2           ┆            ┆ 25         ┆            ┆ 25         │
│ inn1000051 ┆ 2022-07-26 ┆ 0    ┆ 6251.666504 ┆ 41648.7031 ┆ -35397.035 ┆ 0.0        ┆ -399392.59 │
│            ┆            ┆      ┆             ┆ 25         ┆ 156        ┆            ┆ 375        │
│ inn1000051 ┆ 2022-07-27 ┆ 0    ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ -399392.59 │
│            ┆            ┆      ┆             ┆            ┆            ┆            ┆ 375        │
│ inn1000051 ┆ 2022-07-28 ┆ 0    ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ -399392.59 │
│            ┆            ┆      ┆             ┆            ┆            ┆            ┆ 375        │
│ inn1000051 ┆ 2022-07-29 ┆ 0    ┆ 13733.06543 ┆ 0.0        ┆ 13733.0654 ┆ 0.0        ┆ -399392.59 │
│            ┆            ┆      ┆             ┆            ┆ 3          ┆            ┆ 375        │
│ …          ┆ …          ┆ …    ┆ …           ┆ …          ┆ …          ┆ …          ┆ …          │
│ inn999886  ┆ 2024-10-23 ┆ 117  ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 8.7592864e ┆ 0.0        │
│            ┆            ┆      ┆             ┆            ┆            ┆ 8          ┆            │
│ inn999886  ┆ 2024-10-24 ┆ 117  ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 8.7592864e ┆ 0.0        │
│            ┆            ┆      ┆             ┆            ┆            ┆ 8          ┆            │
│ inn999886  ┆ 2024-10-25 ┆ 117  ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 8.7592864e ┆ 0.0        │
│            ┆            ┆      ┆             ┆            ┆            ┆ 8          ┆            │
│ inn999886  ┆ 2024-10-26 ┆ 117  ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 8.7592864e ┆ 0.0        │
│            ┆            ┆      ┆             ┆            ┆            ┆ 8          ┆            │
│ inn999886  ┆ 2024-10-27 ┆ 117  ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 8.7592864e ┆ 0.0        │
│            ┆            ┆      ┆             ┆            ┆            ┆ 8          ┆            │
└────────────┴────────────┴──────┴─────────────┴────────────┴────────────┴────────────┴────────────┘

In [12]:
inndatedk.head(10)

shape: (10, 8)
┌────────────┬────────────┬──────┬─────────────┬────────────┬────────────┬────────────┬────────────┐
│ inn_id     ┆ date       ┆ week ┆ in_vtb_trns ┆ out_vtb_tr ┆ dkrez      ┆ cumsum     ┆ cummin     │
│ ---        ┆ ---        ┆ ---  ┆ _amount     ┆ ns_amount  ┆ ---        ┆ ---        ┆ ---        │
│ str        ┆ date       ┆ i8   ┆ ---         ┆ ---        ┆ f32        ┆ f32        ┆ f32        │
│            ┆            ┆      ┆ f32         ┆ f32        ┆            ┆            ┆            │
╞════════════╪════════════╪══════╪═════════════╪════════════╪════════════╪════════════╪════════════╡
│ inn1000051 ┆ 2022-07-25 ┆ 0    ┆ 16515.07617 ┆ 380510.625 ┆ -363995.56 ┆ 0.0        ┆ -363995.56 │
│            ┆            ┆      ┆ 2           ┆            ┆ 25         ┆            ┆ 25         │
│ inn1000051 ┆ 2022-07-26 ┆ 0    ┆ 6251.666504 ┆ 41648.7031 ┆ -35397.035 ┆ 0.0        ┆ -399392.59 │
│            ┆            ┆      ┆             ┆ 25         ┆ 156        ┆            ┆ 375        │
│ inn1000051 ┆ 2022-07-27 ┆ 0    ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ -399392.59 │
│            ┆            ┆      ┆             ┆            ┆            ┆            ┆ 375        │
│ inn1000051 ┆ 2022-07-28 ┆ 0    ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ -399392.59 │
│            ┆            ┆      ┆             ┆            ┆            ┆            ┆ 375        │
│ inn1000051 ┆ 2022-07-29 ┆ 0    ┆ 13733.06543 ┆ 0.0        ┆ 13733.0654 ┆ 0.0        ┆ -399392.59 │
│            ┆            ┆      ┆             ┆            ┆ 3          ┆            ┆ 375        │
│ inn1000051 ┆ 2022-07-30 ┆ 0    ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 13733.0625 ┆ -399392.59 │
│            ┆            ┆      ┆             ┆            ┆            ┆            ┆ 375        │
│ inn1000051 ┆ 2022-07-31 ┆ 0    ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 13733.0625 ┆ -399392.59 │
│            ┆            ┆      ┆             ┆            ┆            ┆            ┆ 375        │
│ inn1000051 ┆ 2022-08-01 ┆ 1    ┆ 30791.34765 ┆ 1622.88745 ┆ 29168.4609 ┆ 13733.0625 ┆ -399392.59 │
│            ┆            ┆      ┆ 6           ┆ 1          ┆ 38         ┆            ┆ 375        │
│ inn1000051 ┆ 2022-08-02 ┆ 1    ┆ 281192.0625 ┆ 0.0        ┆ 281192.062 ┆ 42901.5312 ┆ -399392.59 │
│            ┆            ┆      ┆             ┆            ┆ 5          ┆ 5          ┆ 375        │
│ inn1000051 ┆ 2022-08-03 ┆ 1    ┆ 0.0         ┆ 0.0        ┆ 0.0        ┆ 324093.593 ┆ -399392.59 │
│            ┆            ┆      ┆             ┆            ┆            ┆ 75         ┆ 375        │
└────────────┴────────────┴──────┴─────────────┴────────────┴────────────┴────────────┴────────────┘

In [13]:
inndatedk.group_by("inn_id","week").agg(pl.col("cumsum").first()).sort("inn_id","week").write_parquet("innweekstartsum.parquet")

In [14]:
inndatedk.select("inn_id","date","cumsum").write_parquet("inndatestartsum.parquet")